<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="js/typed.js"></script>
    <script src="js/main.js"></script>
  </head>
  <body>
    <div class="jumbotron" style="<%= @win_background %>">
      <div class="container">
        <p>
          <%= message %>
        </p>
        <p>
          <%= secret %>
        </p>

        <form>
          <input style="<%= @form_ouput %>" class="myinput" type='text' name='guess'/><br>
          <input class="btn btn-primary" type='submit' value='Guess!' />
        </form>
      </div>
    </div>
  </body>
</html>
