body {
  background: #000000;
}
p {
  margin-left: 10px;
}
input{
  background-color:  <%= color if color %>;
  margin: 10px;
  padding: 10px;
  height: 44px;
  font-size: 25px;
  line-height: 40px;
}

.btn-success {
  background-color: #000
}

.btn-success:hover {
  background-color: #7f8c8d
}
